.Card{
    width: 80%;
    height: 40em;
    background: rgba(15, 16, 16, 0.8); /* Fundo com cor semi-transparente */
    backdrop-filter: blur(10px);
    box-shadow: rgb(22, 22, 22) 0px 6px 24px 0px, rgba(28, 28, 28, 0.892) 0px 0px 0px 1px;
    border-radius: 60px;
    position: relative;
}

.CardHeader{
    /* border: 2px solid red; */
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.CardHeaderContent{
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
}

@media (max-width:1100px){
    .Card{
        width: 100%;
    }


}
